body {
  background-color: #ff6666;
}

.header {
  display: flex;
  justify-content: center;
  margin: 20px auto 0;
}

.start {
  margin: 10px 50px;
  padding: 10px 20px;
  border-color: whitesmoke;
  background-color: crimson;
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}

.score {
  margin: 10px 50px;
  padding: 10px 20px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
}

#span {
  color: blue;
  font-weight: bolder;
  font-style: italic;
}

.grid-wrapper {
  background-image: url('../assets/radiator\ springs.jpg');
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: 600px 600px;
  background-repeat: no-repeat;
}

.grid {
  border: 5px solid black;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 600px;
  width: 600px;
}

.grid div {
  height: 10%;
  width: 10%;
}

.toggle-audio {
  margin: 10px 50px;
  padding: 10px 20px;
  border-color: whitesmoke;
  background-color: crimson;
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}

.towMater {
  background-image: url('../assets/tow\ mater\ right.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.lightningMcqueen {
  background-image: url('../assets/lightningMcqueen.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.oilSpill {
  background-image: url('../assets/oil-spill.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.barrier {
    background-image: url('../assets/barrier.png');
    background-repeat: no-repeat;
    background-size: contain;
  }

  .hidden-sound {
    display: none;
}