* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-game {
  background-color: red;
  margin: 50px;
  padding: 10px;
  cursor: pointer;
}

.score {
  margin: 50px;
  padding: 10px;
}

.settings {
  background-color: red;
  margin: 50px;
  padding: 10px;
  cursor: pointer;
}

.grid-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 600px;
  width: 600px;
}

.grid div {
  border: 1px solid lightgrey;
  height: 10%;
  width: 10%;
}

.grid div.mater {
  background-image: url('../assets/tow-mater.png');
  background-repeat: no-repeat;
  background-size: contain;
}
